@import "@fontsource-variable/open-sans";
@import "@fontsource-variable/inter";

@import "tailwindcss";
@import "tw-animate-css";
@config "../tailwind.config.ts";



@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
    }

    body {
    }

}

:root{
    --layout-menu-aside-width: 260px;
    --layout-menu-aside-width-mini: 88px;
    --layout-nav-height-horizontal: 48px;
    --layout-header-height: 64px;
    --layout-multi-tabs-height: 48px;
}
